
<header id="header">
            
    <div class="center">
        <!--La parte del logo va acá-->
       
        <!--Menu de navegación-->
        <div id="menu">
            <nav id="menu"><!--Poner los links que nos redirigen a otra página-->
                <ul>
                    <li>
                        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                    </li>
                    <li>
                        <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                    </li>
                    <li>
                        <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="logo">
        <img src="assets/images/download.png" class="app-logo" alt="Logo del proyecto" /><br/>
        <span id="marca">
            <strong>Clase fullstack</strong>
       </span>
       

    </div>
</header>